<header>
			<div class="container">
				<div class="header-top">
					<div class="header-logo">
						<a href="/" alt="Trang chủ">
							<img src="image/logo-kstn.png" alt="">
						</a>
					</div>
				<div class="header-info">
					<ul>
						<li>
						<img src="image/header-icon1.png" alt="">
						Hotline 1: 04 6328 1312</li>
						<li>
						<img src="image/header-icon2.png" alt="">&nbsp;info@ketnoitienganh.com</li>
						<li>&nbsp;<img src="image/header-icon3.png" alt="">&nbsp;Trở về Mạng Xã Hội</li>
					</ul>
				</div>
				</div>
			</div>
			<div class="menubar">
				<div class="container">
					<ul>
					<li><a href="/">Trang chủ</a></li>
					<li><a href="/gioithieu">Giới thiệu</a></li>
					<li><a href="lichkhaigiang">Lịch khai giảng</a></li>
					<li><a href="#">Ưu đãi</a></li>
					<li><a href="#">Câu lạc bộ</a></li>
					<li><a href="#">Tuyển dụng</a></li>
				</ul>
				</div>
			</div>
		</header>