<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- jQuery library (served from Google) -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<!-- bxSlider Javascript file -->
		<script src="js/jquery.bxslider.min.js"></script>
		<!-- bxSlider CSS file -->
		<link href="css/jquery.bxslider.css" rel="stylesheet" />
		<!-- font google -->
		<link rel="stylesheet" href="https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Alegreya+Sans:800,900,700/Script:vietnamese">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500italic' rel='stylesheet' type='text/css'>
		<!-- roid san -->
		<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		<!-- signika -->
		<link href='https://fonts.googleapis.com/css?family=Signika:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<%- include('header.ejs'); %>

		<div class="button-fixed">
			<div>Đăng ký học thử miễn phí</div>
			<div>Làm bài test online FREE</div>
		</div>

		<div class="lichkhaigiang page">
			<div class="lkg-main">
				<div class="container">
					<br>
					<div class="lkg-main-text">
						<img class="full-bg"src="image/lkg-text1.png" alt="">
					</div>
					<br>
					<div class="lkg-main-button">
						<button class="active">
							Lớp Giao tiếp
						</button>
						<button>
							Lớp Toeic
						</button>
					</div>
					<br>
					<div class="lkg-main-listlkg">
						<div class="container-child">
							<h1><strong>Giao tiếp cơ bản</strong></h1>
						<table>
							<tr>
								<th>Tên lớp</th>
								<th>Thời gian học</th>
								<th>Thời lượng</th>
								<th>Khai giảng</th>
								<th>Học phí</th>
								<th></th>
							</tr>
							<tr>
								<td><strong>Lớp giao tiếp cơ bản</strong>
									<pre>
										(Nghe nói và phát âm cơ bản)
									</pre>
								</td>
								<td>9h-11h T2,T5</td>
								<td>60 giờ</td>
								<td>25/02/2016</td>
								<td>
									<strike>2,500,000</strike>
									<p>1,500,000</p>
								</td>
								<td><button class="button-fb">Đăng ký</button></td>
							</tr>
							<tr>
								<td><strong>Lớp giao tiếp cơ bản</strong>
									<pre>
										(Nghe nói và phát âm cơ bản)
									</pre>
								</td>
								<td>9h-11h T2,T5</td>
								<td>60 giờ</td>
								<td>25/02/2016</td>
								<td>
									<strike>2,500,000</strike>
									<p>1,500,000</p>
								</td>
								<td><button class="button-fb">Đăng ký</button></td>
							</tr>
							<tr>
								<td><strong>Lớp giao tiếp cơ bản</strong>
									<pre>
										(Nghe nói và phát âm cơ bản)
									</pre>
								</td>
								<td>9h-11h T2,T5</td>
								<td>60 giờ</td>
								<td>25/02/2016</td>
								<td>
									<strike>2,500,000</strike>
									<p>1,500,000</p>
								</td>
								<td><button class="button-fb">Đăng ký</button></td>
							</tr>
							<tr>
								<td><strong>Lớp giao tiếp cơ bản</strong>
									<pre>
										(Nghe nói và phát âm cơ bản)
									</pre>
								</td>
								<td>9h-11h T2,T5</td>
								<td>60 giờ</td>
								<td>25/02/2016</td>
								<td>
									<strike>2,500,000</strike>
									<p>1,500,000</p>
								</td>
								<td><button class="button-fb">Đăng ký</button></td>
							</tr>
							<tr>
								<td><strong>Lớp giao tiếp cơ bản</strong>
									<pre>
										(Nghe nói và phát âm cơ bản)
									</pre>
								</td>
								<td>9h-11h T2,T5</td>
								<td>60 giờ</td>
								<td>25/02/2016</td>
								<td>
									<strike>2,500,000</strike>
									<p>1,500,000</p>
								</td>
								<td><button class="button-fb">Đăng ký</button></td>
							</tr>
							<tr>
								<td><strong>Lớp giao tiếp cơ bản</strong>
									<pre>
										(Nghe nói và phát âm cơ bản)
									</pre>
								</td>
								<td>9h-11h T2,T5</td>
								<td>60 giờ</td>
								<td>25/02/2016</td>
								<td>
									<strike>2,500,000</strike>
									<p>1,500,000</p>
								</td>
								<td><button class="button-fb">Đăng ký</button></td>
							</tr>
							<tr>
								<td><strong>Lớp giao tiếp cơ bản</strong>
									<pre>
										(Nghe nói và phát âm cơ bản)
									</pre>
								</td>
								<td>9h-11h T2,T5</td>
								<td>60 giờ</td>
								<td>25/02/2016</td>
								<td>
									<strike>2,500,000</strike>
									<p>1,500,000</p>
								</td>
								<td><button class="button-fb">Đăng ký</button></td>
							</tr>

							
						</table>
						<br>
						<h2><strong>Mục tiêu khóa học</strong></h2>
						<div class="text">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque consequuntur quisquam nostrum modi. Vero, iste, distinctio! Nesciunt sequi dolor adipisci quibusdam iure distinctio corrupti, nulla pariatur quia, quasi neque necessitatibus!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium molestias ab dolore laboriosam corporis, eum quo dolorem doloremque optio hic.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium molestias ab dolore laboriosam corporis, eum quo dolorem doloremque optio hic.</p>
						</div>
						<br>
						</div>
						<br>
						<div class="chi-tiet-khoa-hoc">
							<a href="#">Chi tiết khóa học</a>
						</div>
						<div class="dangki-button">
							<img src="image/click-here.png" alt="">
							<button class="button-dk">Đăng ký ngay</button>
						</div>
					</div>
				</div>
				<br>
				<div class="lkg-footer" style="width: 100%; height: 50px;">
				</div>
			</div>
			<div class="lkg-dangki free-trial">
				<div class="container">
					<h1>Đăng ký miễn phí học thử</h1>
					<div class="info-box">
						<p>Gọi đến số điện thoại: <span>0463.281.312</span> để cập nhật và tìm hiều thông tin khóa học và đăng kí kiểm tra trình độ đầu vào.</p>

						<p>Hoặc tơi trực tiếp trung tâm tại <span>Số 18, ngõ 178, Tây Sơn, Đống Đa, Hà Nội</span> để được tư vấn trực tiếp.</p>
					</div>
					<br><br>
					<p>Bạn có thể vui lòng điền đầy đủ thông tin, chuyên viên tư vấn của <strong>Kết Nối Tiếng Anh</strong> sẽ liên lạc với bạn trong 24giờ</p>

					<div class="freetrial-input">
						<div>
							<input type="text" placeholder="Họ và tên *">
							<input type="text" placeholder="Điện thoại *">
							<input type="text" placeholder="Email *">
							<select name="" id="">
								<option value="" default hidden>Năm sinh</option>
								<option value="1">1</option>
								<option value="1">1</option>
								<option value="1">1</option>
							</select>
						</div>
						<div>
							<select name="" id="">
								<option value="" hidden disabled="" selected="">Trình độ tiếng anh của bạn</option>
								<option value="1">1</option>
								<option value="1">1</option>
								<option value="1">1</option>
							</select>
							<select name="" id="">
								<option value="" hidden disabled="" selected="">Khóa học mà bạn mong muốn</option>
								<option value="1">1</option>
								<option value="1">1</option>
								<option value="1">1</option>
							</select>
							<select class="select"name="" id="">
								<option value="" hidden disabled="" selected="">Chọn cơ sở gần nhất</option>
								<option value="1">1</option>
								<option value="1">1</option>
								<option value="1">1</option>
							</select>
						</div>
					</div>
					<p>Bạn có thắc mắc nào cho <strong>Kết Nối Tiếng Anh</strong> không. Đặt câu hỏi, chúng tôi sẽ trả lời sớm cho bạn</p>
					<textarea name="" id="" cols="30" rows="5" placeholder="Hãy đặt câu hỏi cho chúng tôi"></textarea>
					<br>
					<button class="button1">Gửi đăng ký</button>
				</div>
			</div>
			
		</div>
	<%- include('footer.ejs'); %>
</body>
<script>

	$('select').change(function(){
		$(this).css('color','#000');
	});


	$(document).ready(function(){
		$('.bxslider').bxSlider();
	});
</script>
</html>