<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- jQuery library (served from Google) -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<!-- bxSlider Javascript file -->
		<script src="js/jquery.bxslider.min.js"></script>
		<!-- bxSlider CSS file -->
		<link href="css/jquery.bxslider.css" rel="stylesheet" />
		<!-- font google -->
		<link rel="stylesheet" href="https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Alegreya+Sans:800,900,700/Script:vietnamese">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<%- include('header.ejs'); %>
		<div class="button-fixed">
			<div>Đăng ký học thử miễn phí</div>
			<div>Làm bài test online FREE</div>
		</div>

		<div class="page">
			<div class="introduce-img">
				<img src="image/gioithieu.png" alt="">
			</div>			
			<div class="free-trial">
				<div class="container">
					<h1>Đăng ký miễn phí học thử</h1>
					<p>Bạn có thể vui lòng điền đầy đủ thông tin, chuyên viên tư vấn của <strong>Kết Nối Tiếng Anh</strong> sẽ liên lạc với bạn trong 24giờ</p>
					<div class="freetrial-input">
						<div>
							<input type="text" placeholder="Họ và tên *">
							<input type="text" placeholder="Điện thoại *">
							<input type="text" placeholder="Email *">
							<select name="" id="">
								<option value="" default hidden>Năm sinh</option>
								<option value="1">1</option>
								<option value="1">1</option>
								<option value="1">1</option>
							</select>
						</div>
						<div>
							<select name="" id="">
								<option value="" hidden disabled="" selected="">Trình độ tiếng anh của bạn</option>
								<option value="1">1</option>
								<option value="1">1</option>
								<option value="1">1</option>
							</select>
							<select name="" id="">
								<option value="" hidden disabled="" selected="">Khóa học mà bạn mong muốn</option>
								<option value="1">1</option>
								<option value="1">1</option>
								<option value="1">1</option>
							</select>
							<select class="select"name="" id="">
								<option value="" hidden disabled="" selected="">Chọn cơ sở gần nhất</option>
								<option value="1">1</option>
								<option value="1">1</option>
								<option value="1">1</option>
							</select>
						</div>
					</div>
					<br>
					<p>Bạn có thắc mắc nào cho <strong>Kết Nối Tiếng Anh</strong> không. Đặt câu hỏi, chúng tôi sẽ trả lời sớm cho bạn</p>
					<textarea name="" id="" cols="30" rows="5" placeholder="Hãy đặt câu hỏi cho chúng tôi"></textarea>
					<button class="button1">Gửi đăng ký</button>
				</div>
			</div>
			
		</div>
	
	<%- include('footer.ejs') %>
</body>
<script>

	$('select').change(function(){
		$(this).css('color','#000');
	});

	$(document).ready(function(){
		$('.bxslider').bxSlider();
		//
		
	});


</script>
</html>